HELP.md
.gradle
build/
*.log
logs/
**/src/main/generated/**

###STS###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###IntelliJIDEA###
.idea
*.iws
*.iml
*.ipr
out/
.DS_Store
